#container {
	width: 90%;
	margin: 0 auto;
	margin-top: 60px;
}

#gender {
	margin-right: 10px;
	margin-top: 10px;
}

#male {
	margin-right: 10px;
	margin-top: 10px;
}

#female {
	margin-right: 10px;
	margin-top: 10px;
}

#none {
	margin-right: 10px;
	margin-top: 10px;
}

#create {
	background-color: #00BFE3;
}

#create:hover{
	background-color: #0099B6;
}

body{
	background-color:transparent;
}

div{
	background-color:transparent;
}
html {
    background: url(model2.jpg) no-repeat center center fixed; 
    background-size: cover;
}
